:root {
    --BBDark:#121212;
    --BBText:#f6dfcf;
    --BBCopper:#e08f59;
}

body {
    background-color: var(--BBDark);
    color: var(--BBText);
    font-family: 'IBM Plex Mono', sans-serif;
    display: flex;
    flex-direction: row;;
    gap: 100px;
    margin: 40px;
}

aside {
    width: 300px;
    height: calc(100dvh - 90px);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

main {
    width: 100%;

}

a {
    color: var(--BBText);
    transition: opacity .2s;
    transition-timing-function: ease;
}

a:hover {
    color: var(--BBText);
    opacity: 50%;
}

#logo {
    width: 50%;
}

@media only screen and (min-width: 2000px) {
    .image-grid {
        column-count: 4;
    }
}

@media only screen and (min-width: 768px) {
    .image-grid {
        column-count: 3;
    }
}

@media only screen and (min-width: 600px) {
    .image-grid {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .image-grid {
        column-count: 1;
    }
}

.image-grid {
    gap: 20px;
}


.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
    margin-bottom: 20px;
}

/*Lightbox*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.lightbox:target {
    display: flex;
}