:root {
    --BBDark:#121212;
    --BBText:#f6dfcf;
    --BBCopper:#e08f59;
}

::-webkit-scrollbar {background-color: #181818;}

::-webkit-scrollbar-thumb {background-color: #f6dfcf59;}

::-webkit-scrollbar-corner {background-color: #e08f59;}

body {
    background-color: var(--BBDark);
    color: var(--BBText);
    font-family: 'IBM Plex Mono', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 40px;
}

#left-side {
    width: 300px;
    height: calc(100dvh - 90px);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: sticky;
    top: 40px;
}

main {
    width: 100%;

}

a {
    color: var(--BBText);
    transition: opacity .2s;
    transition-timing-function: ease;
}

a:hover {
    color: var(--BBText);
    opacity: 50%;
}

#logo {
    width: 50%;
}


.image-grid {
    column-count: 1;
}

@media only screen and (max-width: 600px) {
    .image-grid {
        column-count: 1;
    }

    body {
        flex-direction: column;
    }

    #left-side {
        height: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width:759px) {
    .image-grid {
        column-count: 2;
    }

    body {
        flex-direction: column;
    }

    #left-side {
        height: 100%;
    }
    
}

@media only screen and (min-width: 760px) and (max-width: 939px) {
    .image-grid {
        column-count: 2;
    }

    #left-side {
        width: 200px;
    }

    body {
        gap: 50px
    }
}


@media only screen and (min-width: 940px) {
    .image-grid {
        column-count: 2;
    }
}

@media only screen and (min-width: 1300px){
    .image-grid {
        column-count: 3;
    }
}

@media only screen and (min-width: 2000px) {
    .image-grid {
        column-count: 4;
    }
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

.image-grid img:hover {
    transform: scale(1.03);
}

/*Lightbox*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}

.hidden {
    display: none;
}